<div>
  <h2 id="page-heading" data-cy="LedgerHeading">
    <span jhiTranslate="financijeApp.ledger.home.title">Ledgers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="financijeApp.ledger.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ledger"
        [routerLink]="['/ledger/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="financijeApp.ledger.home.createLabel"> Create a new Ledger </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ledgers?.length === 0">
    <span jhiTranslate="financijeApp.ledger.home.notFound">No ledgers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ledgers && ledgers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="financijeApp.ledger.timestamp">Timestamp</span></th>
          <th scope="col"><span jhiTranslate="financijeApp.ledger.date">Date</span></th>
          <th scope="col"><span jhiTranslate="financijeApp.ledger.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="financijeApp.ledger.creditor">Creditor</span></th>
          <th scope="col"><span jhiTranslate="financijeApp.ledger.debitor">Debitor</span></th>
          <th scope="col"><span jhiTranslate="financijeApp.ledger.tag">Tag</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ledger of ledgers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ledger', ledger.id, 'view']">{{ ledger.id }}</a>
          </td>
          <td>{{ ledger.timestamp | formatMediumDatetime }}</td>
          <td>{{ ledger.date | formatMediumDate }}</td>
          <td>{{ ledger.amount }}</td>
          <td>
            <div *ngIf="ledger.creditor">
              <a [routerLink]="['/accountt', ledger.creditor?.id, 'view']">{{ ledger.creditor?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ledger.debitor">
              <a [routerLink]="['/accountt', ledger.debitor?.id, 'view']">{{ ledger.debitor?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let tag of ledger.tags; let last = last">
              <a class="form-control-static" [routerLink]="['/tag', tag.id, 'view']">{{ tag.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ledger', ledger.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ledger', ledger.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ledger)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
