<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ledger-heading" data-cy="LedgerCreateUpdateHeading" jhiTranslate="financijeApp.ledger.home.createOrEditLabel">
        Create or edit a Ledger
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="financijeApp.ledger.timestamp" for="field_timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="financijeApp.ledger.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="financijeApp.ledger.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="financijeApp.ledger.creditor" for="field_creditor">Creditor</label>
          <select class="form-control" id="field_creditor" data-cy="creditor" name="creditor" formControlName="creditor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="accounttOption.id === editForm.get('creditor')!.value?.id ? editForm.get('creditor')!.value : accounttOption"
              *ngFor="let accounttOption of accounttsSharedCollection; trackBy: trackAccounttById"
            >
              {{ accounttOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="financijeApp.ledger.debitor" for="field_debitor">Debitor</label>
          <select class="form-control" id="field_debitor" data-cy="debitor" name="debitor" formControlName="debitor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="accounttOption.id === editForm.get('debitor')!.value?.id ? editForm.get('debitor')!.value : accounttOption"
              *ngFor="let accounttOption of accounttsSharedCollection; trackBy: trackAccounttById"
            >
              {{ accounttOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="financijeApp.ledger.tag" for="field_tags">Tag</label>
          <select class="form-control" id="field_tags" data-cy="tag" multiple name="tags" formControlName="tags">
            <option
              [ngValue]="getSelectedTag(tagOption, editForm.get('tags')!.value)"
              *ngFor="let tagOption of tagsSharedCollection; trackBy: trackTagById"
            >
              {{ tagOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
